body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(107, 177, 177);
}
.btn{
    border-radius: 2rem;
    height:60px ;
    width:60px ;
    margin:1px;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(20, 60, 60);
}
#res{
    margin-left: 26px;
    width:250px;
}
button:hover{
    background-color: rgb(88, 180, 149) !important;
}